body{
	background-color: #F2F2F2;	
}

div{
	width: 500px;
	border: 3px solid #DE4778;
	background-color: white;
	margin:0 auto;

}

label{
	display: inline-block;
	width: 120px;
	text-align: right;
	padding-right: 15px;
}
form{
	align: center;
	padding-left:15%;
}

h1{
	text-align: center;
}

.genderRadio{
	display: inline
}